<%= form_for [topic, post, comment], html: { class: '' }, remote: true do |f| %>
  <% if comment.errors.any? %>
    <div class="alert alert-block">
      <h4>There are <%= pluralize(comment.errors.count, "error") %>.</h4>
      <ul>
        <% comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= control_group_tag(comment.errors[:body]) do %>
    <!-- Ask Adam, how to change labels on forms without breaking -->
    <div class="input-large"> <!-- Ask Adam - how to change the input form html without breaking -->
      <%= f.text_area :body, rows: 4 %>
    </div>
  <% end %>
    
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Save", class: 'btn' %>
    </div>
  </div>
<% end %>